body {
  text-align:center;
  font: 14px "HelveticaNeue-CondensedBold", Arial, sans-serif;
  margin-top:50px;
  margin-bottom:100px;
}

a {
  color: #00B7FF;
}

h2 {
  margin-top:50px;
  color:red;
}

h2 a,
h2 a:hover,
h2 a:visited {
  color:limegreen;
}